<form name="alertForm">
    <div class="modal-header modal-primary">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <!-- Hiding Close Icon -->
        <!-- <i class="fa fa-times pull-right" ng-click="close()"></i> -->
    </div>
    <div class="modal-body">
        <!-- Alert Content-->
        <div class="row txt-color-4" data-ng-if="!info || !info.length || !info[0].messages">
            <div class="col-xs-12 text-center">
                <p data-ng-if="isHtml" ng-bind-html="message"></p>
                <p data-ng-if="!isHtml">{{message}}</p>
            </div>
        </div>
        <div class="row txt-color-4" data-ng-if="info && info.length && info[0].messages" data-ng-repeat="error in info track by $index">
            <div class="col-xs-9 text-center">
                <p>{{error.message}}</p>
            </div>
            <div class="col-xs-3" data-ng-if="error.messages && error.messages.length">
                <button data-ng-show="!error.showInfo" class="btn btn-info" ng-click="error.showInfo=true;">Show more info</button>
                <button data-ng-show="error.showInfo" class="btn btn-info" ng-click="error.showInfo=false;">Hide more info</button>
            </div>

            <ul data-ng-show="error.messages && error.messages.length && error.showInfo">
                <li class="col-xs-12" data-ng-repeat="msg in error.messages track by $index">
                    {{msg}}
                </li>
            </ul>
        </div>
        <!-- modal buttons -->
        <div class="row margin-t-1">
            <div class="col-xs-12 modal-btn-fixed">
                <button type="submit" class="btn btn-info center-block" ng-click="close()">Ok</button>
            </div>
        </div>
    </div>
</form>
